django==2.2.13
djangorestframework==3.9
django-cors-headers==3.2
markdown==2.3.1
django-filter==2.2
pygments==2.3.1
qrcode==6.1
requests==2.22
djangorestframework_simplejwt
djangorestframework-xml==1.4
Djangorestframework-yaml==1.0
drf_yasg==1.17
aliyun-python-sdk-core==2.13
urllib3==1.24
mongoengine==0.18
mysqlclient==1.4
django-redis==4.10
py2neo==4.3
